*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1a0327;
    font-family: 'poppins', sans-serif;
    height: 350vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(Backgorund3.jpg);
    background-size: cover;
    background-position: center;
}
