@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }
    #header h1{
        margin-top: -60px;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    
    .header-text{
        margin-top: 100px;
    }
    
    h1{
        font-size: 25px;
    }
    #menubtn{
        width: 40px;
        right: 50px;
    }
    .common-btn{
        padding: 10px 16px;
    }
    .social-icons img{
        width: 24px;
        margin: 15px auto;
    }
    .about-left-col{
        flex-basis: 100%;
        margin-top: -450px;
    }
    .about-left-col, .about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        font-size: 18px;
    }
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact-left-col, .contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        margin-top: 50px;
    }
    .footer-left-col{
        flex-basis: 100%;
    }
    .footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}